################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Maynor.Kernel/.vs/Maynor.Kernel
/src/Maynor.Kernel/obj
/src/Maynor.Kernel/bin
/test/Maynor.Kernel.Tests/obj
/test/Maynor.Kernel.Tests/bin/Debug/net6.0
